Descrivi in dettaglio l'aspetto fisico di {{ landmark_name }}. Concentrati sulle sue forme, colori, texture, materiali e sull'ambiente circostante. Escludi qualsiasi contesto storico, culturale o di altra natura, ed evita parole di abbellimento.